:root {
    --primario;
    --secundario;
    --oscuro;
    --claro;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem; /* 1 rem = 10px con esta regla*/
}

h1, h2, h3{
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size:1.8rem;
}

